body {
  font-family: "Inter", "Montserrat", "Roboto", sans-serif;
  background-color: var(--backgroundColor);
  color: var(--plainColor);
}
.linksHover:hover,
.linksHover:focus {
  color: var(--primaryColor);
  text-decoration: underline;
  border: 1px var(--primaryColor) solid;
  border-radius: 15px;
}
