:root {
  --backgroundColor: #131c23;
  --primaryColor: #28c5d2;
  --secondaryColor: #8eaeb4;
  --primaryAccent: #97a9c8;
  --secondaryAccent: #00b88d;
  --plainColor: #f1f5f4;
}
.primaryColor {
  color: var(--primaryColor);
}
.secondaryColor {
  color: var(--secondaryColor);
}
.primaryAccent {
  color: var(--primaryAccent);
}
.secondaryAccent {
  color: var(--secondaryAccent);
}
.plainColor {
  color: var(--plainColor);
}
